@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Js{
    <script src="@(AppGlobal.Res)js/Config.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/yw.config.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/upload/jquery.form.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/upload/jquery.uploadimg-1.0.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/validate/validates-2.1.3.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/Admin/Areas/Product/BrandForm.js?@AppGlobal.VNo"></script>
}

<div class="content pd5">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@AppGlobal.Admin">首页</a></li>
                        <li class="breadcrumb-item"><a href="@(AppGlobal.Admin)ProductModule/Product/BrandManage">品牌管理</a></li>
                        <li class="breadcrumb-item active">@(ViewBag.entity == null ? "添加" : "修改")品牌信息</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="controls box">
        <table class="table_s1 wfull mt30">
            <tr>
                <th scope="row" style="width:120px;">品牌LOGO：</th>
                <td>
                    <div id="img_up"></div>
                </td>
            </tr>
            <tr>
                <th scope="row">中文名称：</th>
                <td>
                    <input type="text" maxlength="50" data-val="name" class="form-control form-control-sm" />
                </td>
            </tr>
            <tr>
                <th scope="row">英文名称：</th>
                <td>
                    <input type="text" maxlength="50" id="name_en" data-val="name_en" class="form-control form-control-sm" />
                </td>
            </tr> 
            <tr>
                <th scope="row">显示排序：</th>
                <td>
                    <input type="text" maxlength="50" id="order_index" data-val="order_index" class="form-control form-control-sm" />
                </td>
            </tr>
        </table>

        <div class="form-actions">
            <input type="hidden" id="defurl" value="@ViewBag.defurl" />
            <input type="hidden" id="imgurl" value="@ViewBag.imgurl" />
            <input type="hidden" id="entity" value="@ViewBag.entity" />
            <input type="hidden" id="Ticket" value="@ViewBag.Ticket" />
            <input type="hidden" id="imgmsg" value="@ViewBag.imgmsg" />
            <input type="button" class="btn btn-info" value="重新加载" onclick="javascript: window.location.reload();" />
            <input type="button" class="btn btn-cancel" value="返 回" id="BackBtn" onclick="javascript: history.go(-1);" />
            <input type="button" class="btn btn-small btn-primary btn-save" value="保 存" id="SaveBtn" />
        </div>
    </div>
</div>
