@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Solution.Entity.BizTypeModule;
@using Solution.Entity.ProductModule;

@section Js{
    <script src="@(AppGlobal.Res)js/Config.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/yw.config.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/template/template-web.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/template/template.helper.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/datagrid/datagrid-1.0.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/upload/jquery.form.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/upload/jquery.uploadimg-1.0.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/validate/validates-2.1.3.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/Admin/Areas/SiteSetting/BannerForm.js?@AppGlobal.VNo"></script>
}

<div class="content pd5">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@AppGlobal.Admin">首页</a></li>
                        <li class="breadcrumb-item"><a href="@(AppGlobal.Admin)SiteSettingModule/SiteSetting/BannerManage">Banner管理</a></li>
                        <li class="breadcrumb-item active">@(ViewBag.entity == null ? "添加" : "修改")Banner图</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="controls box">
        <table class="table_s1 wfull mt30">
            <tr>
                <th scope="row" style="width:120px;">Banner图片：</th>
                <td>
                    <div id="img_up"></div>
                </td>
            </tr>
            <tr>
                <th scope="row">图片名称：</th>
                <td>
                    <input type="text" maxlength="50" data-val="name" class="form-control form-control-sm" />
                </td>
            </tr>
            <tr>
                <th scope="row">图片类型：</th>
                <td>
                    <select id="type" data-val="type" class="form-control form-control-sm w178 chosen-select">
                        @foreach (var a in BannerType.BannerList)
                        {
                            <option value="@a.Key">@a.Value</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="row">操作类型：</th>
                <td>
                    <select id="content_type" data-val="content_type" class="form-control form-control-sm w178 chosen-select">
                        <option value="0">——请选择——</option>
                        @foreach (var a in BannerLink.List)
                        {
                            <option value="@a.Key">@a.Value</option>
                        }
                    </select>
                </td>
            </tr>
            <tr style="display:none;" data-tmp="@BannerLink.Custom">
                <th scope="row">链接地址：</th>
                <td>
                    <input type="text" maxlength="200" id="content_value" data-val="content_value" style="width:400px;" class="form-control form-control-sm" />
                </td>
            </tr>
            <tr style="display:none;" data-tmp="@BannerLink.ProductDetails">
                <th scope="row">所选商品：</th>
                <td>
                    <a id='selectProductDetails' href='javascript:void(0);' class='link_blue'><span></span>&nbsp;&nbsp; 选择</a>
                </td>
            </tr>
            <tr style="display:none;" data-tmp="@BannerLink.ProductList">
                <th scope="row">商品分类：</th>
                <td>
                    <a id='selectProductCatg' href='javascript:void(0);' class='link_blue'><span></span>&nbsp;&nbsp; 选择</a>
                </td>
            </tr>
            <tr>
                <th scope="row">是否主图：</th>
                <td>
                    <input id="is_main" data-val="is_main" type="checkbox" /> 是
                </td>
            </tr>
            <tr>
                <th scope="row">Banner简介：</th>
                <td>
                    <textarea id="intro" data-val="intro" rows="3" cols="30" class="form-control form-control-sm"></textarea>
                </td>
            </tr>
            <tr>
                <th scope="row">显示排序：</th>
                <td>
                    <input type="text" maxlength="50" id="order_index" data-val="order_index" class="form-control form-control-sm" />
                    <select style="width:150px;display:none;" id="CategoryID">
                        @foreach (ProductCatg pc in (List<ProductCatg>)ViewBag.productCgtys)
                        {
                            <option value="@pc.id">@pc.name</option>
                        }
                    </select>
                </td>
            </tr>
        </table>


        @*商品列表*@
        <script type="text/html" id="list_template">
            {{each data as obj i}}
            <tr>
                <td>
                    <input name="checkbox" type="radio" value="{{obj.id}}" title="{{obj.name}}" />
                </td>
                <td>
                    <img class="fl m_pImg" src="{{getImgUrl_s(obj.img_url)}}" />
                    <p><a href="javascript:;" class="link_black p_tit" title="{{obj.name}}">{{cutSubString(obj.name,24) }}</a><span style="{{obj.stock < 10?"color:red;":"" }}">， 库存:{{obj.stock}} </span></p>
                    <p>编码:{{obj.no}},品牌:{{obj.brand_name == "" ? "未知": obj.brand_name}} </p>
                    <p style="color:red;">市场价：{{obj.market_price | formaToMoney}}，销售价：{{obj.sale_price | formaToMoney}}</p>
                </td>
                <td>{{# obj.tag | getStatus}}</td>
                <td>{{obj.created_date | ChangeCompleteDateFormat}}</td>
            </tr>
            {{/each}}
        </script>

        @*商品分类*@
        <script type="text/html" id="catg_template">
            {{each data as obj i}}
            <tr pid="tr_{{obj.parent_id}}" id="tr_{{obj.id}}">
                <td>
                    <input type="radio" value="{{obj.id}}" title="{{obj.name}}" />
                </td>
                <td>
                    <a class="f_item_{{getTrIndex(obj.parent_id)}}" href="javascript:;">
                        {{if obj.parent_id == 0}}
                        <i class="icon-minus"></i>
                        {{/if}}
                        {{obj.name}}
                    </a>
                </td>
            </tr>
            {{/each}}
        </script>

        <div class="form-actions">
            <input type="hidden" id="defurl" value="@ViewBag.defurl" />
            <input type="hidden" id="imgurl" value="@ViewBag.imgurl" />
            <input type="hidden" id="entity" value="@ViewBag.entity" />
            <input type="hidden" id="Ticket" value="@ViewBag.Ticket" />
            <input type="hidden" id="imgmsg" value="@ViewBag.imgmsg" />

            <input type="hidden" id="bizEntity" value="@ViewBag.bizEntity" />
            <input type="button" class="btn btn-info" value="重新加载" onclick="javascript: window.location.reload();" />
            <input type="button" class="btn btn-cancel" value="返 回" id="BackBtn" onclick="javascript: history.go(-1);" />
            <input type="button" class="btn btn-small btn-primary btn-save" value="保 存" id="SaveBtn" />
        </div>
    </div>
</div>
