@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link href="@(AppGlobal.Res)js/plugins/daterangepicker/daterangepicker.css?@AppGlobal.VNo" rel="stylesheet" />
}

@section Js{
    <script src="@(AppGlobal.Res)js/Config.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/yw.config.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/dynamic.form/dynamic.form.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/daterangepicker/moment.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/daterangepicker/daterangepicker.min.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/template/template-web.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/template/template.helper.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/plugins/yw-jq-plugin/datagrid/datagrid-1.0.js?@AppGlobal.VNo"></script>
    <script src="@(AppGlobal.Res)js/Admin/Areas/Order/ProductOrderReport.js?@AppGlobal.VNo"></script>
}

<div class="content pd5">
    <div class="controls box">
        <ul id="Tabs" class="nav nav-tabs">
            <li class="active">
                <a href="#order_report_panel" data-toggle="tab">订单报表</a>
            </li>
            <li>
                <a href="#sale_details_panel" data-toggle="tab">销售明细</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            @*订单报表*@
            <div id="order_report_panel" class="tab-pane active">
                <div class="row">
                    <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val="actual_amount" format-money="2">0.00</h5>
                            <span class="description-text text-danger">订单总金额</span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val="cost_price" format-money="2">0.00</h5>
                            <span class="description-text text-success">订单总成本</span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val="discount_amount">0.00</h5>
                            <span class="description-text text-success">折扣总金额</span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val="coupon_amount" format-money="2">0.00</h5>
                            <span class="description-text text-success" >优惠卷总金额</span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val="freight" format-money="2">0.00</h5>
                            <span class="description-text text-success" >总运费</span>
                        </div>
                    </div>
                    <div class="col-sm-2 col-6">
                        <div class="description-block">
                            <h5 class="description-header" data-val="profit" format-money="2" >0.00</h5>
                            <span class="description-text text-danger" >总利润</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="dataTables_length">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="keyword" class="form-control float-right form-control-sm" placeholder="订单编号/手机号码" />
                                                <div class="input-group-append">
                                                    <span class="btn btn-default">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                <span class="input-group-append">
                                                    <input type="text" class="form-control form-control-sm w178" onfocus="$(this).blur()" name="date" id="date" placeholder="上传日期" />
                                                </span>
                                                <div class="input-group-append">
                                                    <span class="btn btn-default" id="clear">
                                                        <i class="fa fa-trash-o"></i>
                                                    </span>
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-default" name="search_btn"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dataTables_filter">
                                            <div class="btn-group btn-group-sm">
                                                <a name="refresh_btn" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mt6">
                                        <div name="datagrid"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*销售明细*@
            <div id="sale_details_panel" class="tab-pane">
                <div class="row">
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val1="sale_total_amount" format-money="2">0.00</h5>
                            <span class="description-text text-danger">销售总额</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val1="total_num" format-money="2">0.00</h5>
                            <span class="description-text text-success">销售总量</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block border-right">
                            <h5 class="description-header" data-val1="sale_cost" format-money="2">0</h5>
                            <span class="description-text text-success">总成本</span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="description-block">
                            <h5 class="description-header" data-val1="profit" format-money="2">0.00</h5>
                            <span class="description-text text-success" >总利润</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card-body">
                            <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="dataTables_length">
                                            <div class="input-group input-group-sm">
                                                <input type="text" id="keyword" class="form-control float-right form-control-sm" placeholder="订单编号/手机号码" />
                                                <div class="input-group-append">
                                                    <span class="btn btn-default">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                                <span class="input-group-append">
                                                    <input type="text" class="form-control form-control-sm w178" onfocus="$(this).blur()" name="date" id="date" placeholder="上传日期" />
                                                </span>
                                                <div class="input-group-append">
                                                    <span class="btn btn-default" id="clear">
                                                        <i class="fa fa-trash-o"></i>
                                                    </span>
                                                </div>
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-default" name="search_btn"><i class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="dataTables_filter">
                                            <div class="btn-group btn-group-sm">
                                                <a name="refresh_btn" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 mt6">
                                        <div name="datagrid1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*订单报表模板*@
    <script type="text/html" id="template">
        {{each data as obj i}}
        <tr>
            <td><p style="color:blue;"> {{obj.serial_no }} </p> </td>
            <td style="color:red;">{{obj.total_amount | formaToMoney}}    </td>
            <td style="color:red;">{{obj.cost_price | formaToMoney}}      </td>
            <td style="color:#23b621;">{{obj.discount_amount | formaToMoney}} </td>
            <td style="color:#23b621;">{{obj.coupon_amount | formaToMoney}}   </td>
            <td style="color:red;">{{obj.freight | formaToMoney}}         </td>
            <td style="color:red;">{{obj.actual_amount | formaToMoney}}   </td>
            <td style="color:red;">{{obj.profit | formaToMoney}}   </td>
            <td>{{obj.created_date  | ChangeCompleteDateFormat}}   </td>
        </tr>
        {{/each}}
    </script>

    @*销售明细模板*@
    <script type="text/html" id="details_template">
        {{each data as obj i}}
        <tr>
            <td><p style="color:blue;"> {{obj.serial_no }} </p> </td>
            <td>{{obj.product_name }}</td>
            <td style="color:red;">{{obj.unit_price | formaToMoney}} </td>
            <td>x{{obj.count }}         </td>
            <td style="color:red;">{{obj.actual_amount | formaToMoney}} </td>
            <td style="color:red;">{{obj.cost_price | formaToMoney}} </td>
            <td style="color:red;">{{obj.profit | formaToMoney}} </td>
            <td>{{obj.created_date  | ChangeCompleteDateFormat}}   </td>
        </tr>
        {{/each}}
    </script>
</div>






